* { 
    margin: 0;
    padding: 0;}
html {
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
}

body{
    
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        div{
            .logo{
                width: 200px;
            }
        }
        nav{
            ul{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                li{
                    padding: 20px;
                    list-style: none;
                    a{
                        font-size: 2rem;
                        text-decoration: none;
                        color: #1c3144;
                    }
                }
            }
        }
        .fotoportada {
            width: 90vw;
        }
    }
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        h1{
            margin-top: 3rem;
            font-size: 2.5rem;
            font-family:'Quicksand', sans-serif;
        }
        #productos{
            .contenedorCafe{
                display: flex;
                flex-wrap: wrap;
                column-gap: 1rem;
                justify-content: center;
                align-items: center;
            }
            .container-cards{
                width: 500px;
                display: flex;
                flex-direction:column;
                align-items: center;
                margin: 30px;
                .card{
                    margin: 50px;
                }
                .card-header{
                    background-color: rgb(255, 255, 255);
                    font-family:'Quicksand', sans-serif;
                    font-size: 1.5rem;
                }
            }
        }
    }
    .carrito{
        margin: 50px;
        padding: 0px;
        display: flex;
        flex-direction: column;
                
        #tu_compra{
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            column-gap: 1rem;
            
            .producto{
            margin: 30px;
            }
        }
        #precio-total{
        font-size: 2rem;
        }
    }
}